.App {
  text-align: center;
  max-height: 100%;
}
#text{
  width: 100%;
}

#header{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: #1D2228;
}

#sidehead{
  display: flex;
}
#left > h3{
  color: #FB8122;
  font-size: x-large;
  font-weight: bolder;
}
#sidehead > a {
  margin-left: 10px;
  margin-right: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: large;
  font-weight: bolder;
}


#user{
  color: #E1E2E2;
  width: 100%;
  height: 80px;
  background: #474747;
  float: left;
  /* border: 1px solid #E1E2E2; */
  font-size: large;
  font-weight: 500;
}
#user > p{
  margin: 10px 10px;
}

#signup{
  display: flex;
  justify-content: space-around;
}
#info{
  color: #E1E2E2;
  max-width: 100%;
  background: whitesmoke;
  padding-top: 28px;
  padding-left: 20px;
  background-image: url("https://images.freeimages.com/images/large-previews/4ed/abstract-patterns-1566494.jpg");
  max-height: 500px;
  overflow: scroll;
}

.list{
  /* border: 1px solid black; */
  width: 30%;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: whitesmoke;
  color: #1D2228;
  border-radius: 9px;
  overflow: auto;

}
#det{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  font-size: large;
  font-weight: 500;
}
.add{
  margin-left: 20px;
}
button{
  background-color: #ffa600; color: whitesmoke;
  font-size: 16px;
  padding: 1px 10px;
  border-radius: 8px;
  transition-duration: 0.4s;
  font-weight: bolder;
  margin-left: 15px;
}
button:hover {
  background-color: #FB8122;
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#intro{
  color: whitesmoke;
  text-align: center;
  height: 500px;
  background-image: url("https://images.freeimages.com/images/large-previews/4ed/abstract-patterns-1566494.jpg");
}

#tut{
  border: thin #1D2228 ;
  background-color: #1D2228;
  opacity: 0.6;
  width: 50%;
  color: white;
  margin: 20px auto;
  text-align: left;
}
#tut > ol > li{
  margin-bottom: 15px;
}